.App {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  /* Horizontally split background */
  background: linear-gradient(to right, #6c500b 50%, #048278 50%);
}
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
  
  p {
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  .contact-link {
    font-size: 1.2rem;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .contact-link:hover {
    color: #0056b3;
  }
  
  /* Slide-Down Animation */
  .contact-slide {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
  }
  
  .contact-slide-visible {
    max-height: 100vh; /* Adjust as needed based on Contact component height */
  }
  
  .contact-slide-hidden {
    max-height: 0;
  }